[submodule "product-service"]
	path = product-service
	url = git@github.com:mhmmdnaufall/product-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:mhmmdnaufall/order-service.git
[submodule "inventory-service"]
	path = inventory-service
	url = git@github.com:mhmmdnaufall/inventory-service.git
[submodule "discovery-server"]
	path = discovery-server
	url = git@github.com:mhmmdnaufall/discovery-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:mhmmdnaufall/api-gateway.git
[submodule "notification-service"]
	path = notification-service
	url = git@github.com:mhmmdnaufall/notification-service.git
